
.greenColor{
  color : #7be55a !important ;
}

.linkColor{
  color: white;
  font-size: 14px;
}
.navbar {
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999; 
}

.navbar-toggler>.close {
  display:inline;
}
.navbar-toggler.collapsed>.close, .navbar-toggler:not(.collapsed)>.navbar-toggler-icon {
  display:none;
}

/* Icons style */

a, a:hover {
text-decoration: none;
}

.socialbtns, .socialbtns ul, .socialbtns li {
margin: 0;
padding: 5px;
}

.socialbtns li {
  list-style: none outside none;
  display: inline-block;
}

.socialbtns .fa {
width: 40px;
  height: auto;
  padding: 10px;
color: #000;
background-color: #FFF;
border: 1px solid #000;
padding-top: 12px;
border-radius: 22px;
-moz-border-radius: 22px;
-webkit-border-radius: 22px;
-o-border-radius: 22px;

}



.facebookIcon:hover {
  color: #FFF;
  background-color: #4267B2;
}

.instagramIcon:hover {
  color: #FFF;
  background-color: #e95950;
}

.linkedinIcon:hover{
  color:#FFF;
  background-color: #0072b1;
}
.messageIcon:hover{
  color:#FFF;
  background-color: #FFE23C;
}

.twitterIcon:hover{
  color: #FFF;
  background-color: #1DA1F2;
}
